body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 30px 0px 0px 0px;
  font-size: 1.5em;
  padding: 0;
}

h3 {
  line-height: 100px;
  margin: 0;
  padding: 0;
}

li img {
  max-width: 100px;
  max-height: 100px;
  height: 100%;
  width: auto;
  float: left;
  border-radius: 50%;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  overflow: auto;
  margin: 0;
}

/* Header section */
header {
  background-color: #24292e;
  color: #fff;
  padding: 3px;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

/* Vs Section */

#users img {
  height: 50%;
  width: 50%;
}

.vs {
  font-size: 1em;
  font-weight: bold;
  padding-top: 70px;
}
#user1,
#user2 {
  cursor: pointer;
  padding-bottom: 5%;
}

#user1:hover,
#user2:hover {
  background-color: rgb(241, 248, 255);
  border-radius: 3px;
}

/* Leaderboard Section */

#leaderboard ul {
  list-style-type: none;
}

#wall-of-shame img,
#wall-of-fame img {
  float: left;
  width: 100px;
  height: 100px;
}

#leaderboard {
  display: grid;
  grid-template-columns: 100%;
}

#wall-of-shame,
#wall-of-fame {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

/*
============================
    Warning message!!!!!!
============================
*/
#alert {
  position: relative;
  visibility: hidden;
}

.alert {
  background-color: #c4453c;
  background-image: -webkit-linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.05) 25%,
    hsla(0, 0%, 0%, 0.05) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.05) 75%,
    hsla(0, 0%, 0%, 0.05)
  );
  background-image: -moz-linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.1) 25%,
    hsla(0, 0%, 0%, 0.1) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.1) 75%,
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -ms-linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.1) 25%,
    hsla(0, 0%, 0%, 0.1) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.1) 75%,
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -o-linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.1) 25%,
    hsla(0, 0%, 0%, 0.1) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.1) 75%,
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.1) 25%,
    hsla(0, 0%, 0%, 0.1) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.1) 75%,
    hsla(0, 0%, 0%, 0.1)
  );
  background-size: 20px 20px;
  box-shadow: 0 5px 0 hsla(0, 0%, 0%, 0.1);
  color: #f6f6f6;
  display: block;
  font: bold 16px/40px sans-serif;
  height: 40px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 5px;
  width: 100%;
}
/*
welcome page
*/
/* * {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
} */

.signup {
  width: 300px;
  height: 530px;
  margin: 1em auto;
  padding: 1em 1em 0;
  background: rgb(243, 243, 243);
  border-radius: 5px;
}

.signup h1 {
  width: 70%;
  margin: 1.5em auto;
  display: block;
}

.signup__form {
  font-size: 14px;
}

.signup__form label {
  width: 70%;
  display: block;
  margin: 1em auto 0.5em;
}

.signup__form input {
  width: 100%;
  height: 30px;
  display: block;
  margin: 1em auto 0;
  padding: 0.5em;
  outline: none;
  border: 1px solid rgba(3, 3, 3, 0.99);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

.signup__form button {
  width: 70%;
  height: 30px;
  display: block;
  margin: 2em auto;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(36, 36, 36);
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

.error {
  width: 70%;
  min-height: 1.5em;
  margin: 0.2em auto 0.5em;
  font-size: 10px;
  color: red;
  text-transform: uppercase;
}

.signIn {
  width: 300px;
  height: 530px;
  margin: 1em auto;
  padding: 0.5em 0.5em 0;
  background: rgb(243, 243, 243);
  border-radius: 5px;
}

.signIn h1 {
  width: 70%;
  margin: 1.5em auto;
  display: block;
}

.signIn__form {
  font-size: 14px;
}

.signIn__form label {
  width: 70%;
  display: block;
  margin: 1em auto 0.5em;
}

.signIn__form input {
  width: 100%;
  height: 30px;
  display: block;
  margin: 1em auto 0;
  padding: 0.5em;
  outline: none;
  border: 1px solid rgba(3, 3, 3, 0.99);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

.signIn__form button {
  width: 70%;
  height: 30px;
  display: block;
  margin: 2em auto;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(36, 36, 36);
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

.error {
  width: 70%;
  min-height: 1.5em;
  margin: 0.2em auto 0.5em;
  font-size: 10px;
  color: red;
  text-transform: uppercase;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #269f42;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}

/*
============================
    THIS IS TABLET!!!!!!
============================
*/
@media only screen and (min-width: 760px) {
  body {
    margin: 0 auto;
  }

  #users {
    display: grid;
    grid-template-columns: 45% 10% 45%;
  }

  #leaderboard div {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    justify-content: space-around;
    margin: 20px 50px 20px 20px;
  }

  #leaderboard div,
  #users {
    width: 80%;
    margin: 0 auto;
  }

  #leaderboard {
    border-top: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
    margin-top: 25px;
    background: #f3f3f3;
    padding-bottom: 10px;
  }

  #users img {
    height: 70%;
    width: 70%;
    border-radius: 1em;
  }

  #users {
    padding: 20px 0px;
  }

  footer {
    padding: 10px;
  }

  .vs {
    font-size: 3em;
    padding-top: 170px;
  }
}

/*
============================
    THIS IS DESKTOP!!!!!!
============================
*/

@media only screen and (min-width: 1001px) {
  body {
    margin: 0 auto;
  }

  ul {
    width: 400px;
  }

  #users img {
    height: 70%;
    width: 70%;
  }
}
