body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3 {
  line-height: 100px;
  margin: 0;
  padding: 0;
}

li img {
  max-width: 100px;
  max-height: 100px;
  height: 100%;
  width: auto;
  float: left;
  border-radius: 50%;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  overflow: auto;
  margin: 0;
}

/* Header section */
header {
  background-color: #24292e;
  color: #fff;
  padding: 3px;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

/* Vs Section */

#users img {
  height: 50%;
  width: 50%;
}

.vs {
  font-size: 1em;
  font-weight: bold;
  padding-top: 70px;
}
#user1,
#user2 {
  cursor: pointer;
  padding-bottom: 5%;
}

#user1:hover,
#user2:hover {
  background-color: rgb(241, 248, 255);
  border-radius: 3px;
}

/* Leaderboard Section */

#leaderboard ul {
  list-style-type: none;
}

#wall-of-shame img,
#wall-of-fame img {
  float: left;
  width: 100px;
  height: 100px;
}

#leaderboard {
  display: grid;
  grid-template-columns: 100%;
}

#wall-of-shame,
#wall-of-fame {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

/*
============================
    Warning message!!!!!!
============================
*/
#alert {
  position: relative;
  visibility: hidden;
}

.alert {
  background-color: #c4453c;
  background-image: -webkit-linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.05) 25%,
    hsla(0, 0%, 0%, 0.05) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.05) 75%,
    hsla(0, 0%, 0%, 0.05)
  );
  background-image: -moz-linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.1) 25%,
    hsla(0, 0%, 0%, 0.1) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.1) 75%,
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -ms-linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.1) 25%,
    hsla(0, 0%, 0%, 0.1) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.1) 75%,
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -o-linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.1) 25%,
    hsla(0, 0%, 0%, 0.1) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.1) 75%,
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.1) 25%,
    hsla(0, 0%, 0%, 0.1) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.1) 75%,
    hsla(0, 0%, 0%, 0.1)
  );
  background-size: 20px 20px;
  box-shadow: 0 5px 0 hsla(0, 0%, 0%, 0.1);
  color: #f6f6f6;
  display: block;
  font: bold 16px/40px sans-serif;
  height: 40px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 5px;
  width: 100%;
}
/*
============================
    THIS IS TABLET!!!!!!
============================
*/
@media only screen and (min-width: 760px) {
  body {
    margin: 0 auto;
  }

  #users {
    display: grid;
    grid-template-columns: 45% 10% 45%;
  }

  #leaderboard div {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    justify-content: space-around;
    margin: 20px 50px 20px 20px;
  }

  #leaderboard div,
  #users {
    width: 80%;
    margin: 0 auto;
  }

  #leaderboard {
    border-top: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
    margin-top: 25px;
    background: #f3f3f3;
    padding-bottom: 10px;
  }

  #users img {
    height: 70%;
    width: 70%;
    border-radius: 1em;
  }

  #users {
    padding: 20px 0px;
  }

  footer {
    padding: 10px;
  }

  .vs {
    font-size: 3em;
    padding-top: 170px;
  }
}

/*
============================
    THIS IS DESKTOP!!!!!!
============================
*/

@media only screen and (min-width: 1001px) {
  body {
    margin: 0 auto;
  }

  ul {
    width: 400px;
  }

  #users img {
    height: 70%;
    width: 70%;
  }
}
